{%extends 'index.html'%}

{%block content%}

<div class="parent-div">

   <div class="card">
      <a href="{%url 'loans'%}" class="btn btn-outline-primary  btn-block mybuttons ">
         <b>Go back</b></a>
   </div>
   
</div>

<br>
<div class="parent-div">

   <div class="card">
      Installating on phone/desktop
      
      <iframe height="315" src="https://www.youtube.com/embed/2LqDrI3vAn8" title="YouTube video player" frameborder="0" allow="" allowfullscreen></iframe>
     
   </div>
</div>
<br>
<br>
<div class="parent-div">

   <div class="card">
      Uploading photos for frequent loan applications
      <iframe height="315" src="https://www.youtube.com/embed/ZI74fR2FqhU" title="YouTube video player" frameborder="0" allow="" allowfullscreen></iframe>
</div>
</div>

<br>
<br>
<div class="parent-div">

   <div class="card">
  
      loan application process
      <iframe height="315" src="https://www.youtube.com/embed/73nxcvg5LH0" title="YouTube video player" frameborder="0" allow="" allowfullscreen></iframe>
   
   
   </div>



</div>



{%endblock%}


