{%extends 'index.html'%}
{%load crispy_forms_tags%}

{%block content%}


<div class="parent-div">
    <div class="card">
        <div class="card-header" style="background-color: #4267B2; color: snow">
            <b>Enter loan security details.</b>
        </div>

        <div class="card-body">

            <form method="POST">
                {%csrf_token%}
                <fieldset class="form-group">



                    {{form|crispy}}
                </fieldset>
                <br>
                <div class="d-grid gap-2">
                    <button class="btn btn-primary btn-block mybuttons " type="submit" id="submitbutton" onclick="feedback()">Submit information
                        </button>

                        <br>
                        <a href="{%url 'detailspage1' transaction.id%}" class="btn btn-outline-primary  btn-block mybuttons"><b>Cancel</b></a>
            

                </div>
            </form>

            
        </div>
        <script type="text/javascript">
    
          function feedback(){
              
              const mybutton = document.getElementById("submitbutton")
              mybutton.innerText ="Submitting"
         
              
    }
        
        
        </script>
            
{%endblock%}


