{%extends 'index.html'%}
{%load crispy_forms_tags%}

{%block content%}


<div class="parent-div">
    <div class="card">
        <div class="card-header" style="background-color: #4267B2; color: snow;">
            <b>Upload passport and id cards</b>
        </div>

        <div class="card-body">
          <small>Uploads of large images  may take long ,4g/3g is recommended internet.</small><br>
          <small>Maximum image size is 5mb</small>
          <hr>
          
            <form method="POST" enctype="multipart/form-data">
                {%csrf_token%}
                <fieldset class="form-group">
               {{form|crispy}}
                </fieldset>
                <br>
                <div class="d-grid gap-2">
                    <button class="btn btn-primary btn-block mybuttons " type="submit" id="submitbutton"
                  onclick="feedback()"  >Submit information
                        </button>

                        <br>
                        <a href="{%url 'photos'%}" class="btn btn-outline-primary  btn-block mybuttons"><b>Cancel</b></a>
            

                </div>
            </form>

            
        </div>

        <script type="text/javascript">
    
            function feedback(){
                
                const mybutton = document.getElementById("submitbutton")
                mybutton.innerText ="Submitting"
            
            }
          
          
          </script>        
            
{%endblock%}


