{%extends 'index.html'%}
{%load crispy_forms_tags%}

{%block content%}



    <div class="parent-div">
        <div class="card">
            <div class="card-header" style=" background-color: #4267B2; color: snow;">
                <b>Change password</b>
            </div>
            
            <div class="card-body">
                
                <form method="POST">
                    {%csrf_token%}
                    <fieldset class="form-group">
                        

                        {{form|crispy}}
                    </fieldset>
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary btn-block mybuttons" type="submit">Change password
                        </button>
                      <br>
                      <a class="btn btn-outline-primary btn-block mybuttons" href="{%url 'loans'%}"><b>Cancel</b></a>

                    </div>
                </form>
                    
                   
            </div>

        </div>
    </div> 

    
    
<br>
<br>
<br>
<hr>
{%endblock content%}


       


    


