{%extends 'index.html'%}
{%load crispy_forms_tags%}

{%block content%}

    <div class="parent-div">
        <div class="card"> 
            <div class="card-header" style=" background-color: #7690da; color: snow;">
            <b>Reset password</b> 
            </div>
            <div class="card-body">
                    <form method="POST">
                        {%csrf_token%}
                        <fieldset class="form-group">
                            {{form|crispy}}
                           
                        </fieldset>
                        <br>
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary btn-block " type="submit">Request password reset</button>  
                            <a class="btn btn-outline-primary btn-block mybuttons" href="{%url 'login'%}"><b>Cancel</b></a>   

                        </div>
                       
                    </form>
                        
                        
            </div>
        </div> 
    </div>
                
{%endblock content%}


       
